In [14]:
 #Functional programming
def check_palindrome(word):
     return word

In [15]:
check_palindrome('Ajay')

'Ajay'

In [12]:
a='lucky'
a[::-1]

'ykcul'

In [13]:
if a==a[::-1]:
    print('palindrome')
else:
   print('not a palindrome')

not a palindrome

In [4]:
def check_palindrome(word):
  if word == word[::-1]:
    return 'Palindrome'
  else:
    return 'Not a Plaindrome'

In [19]:
def give_fibo(n):
    fibo=[0,1]
    for i in range(n-2):
         last_num=fibo[-1]
         second_num=fibo[-2]
         next_num= last_num+second_num
         fibo.append(next_num)
    return fibo

In [20]:
print(give_fibo(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [24]:
def check_prime(number):
    for i in range(2,number):
        if number % i ==0:
            return 'not a prime number' #after return print statement will not print, autobreak ho jaata hai
            print('happy happy')
            break
    else:
        return'prime number'

In [28]:
check_prime(2)

'prime number'

In [32]:
n=5
print('hello'*n)

hellohellohellohellohello

In [37]:
n=5
for i in range(1,n+1):
    print(i*'* ')

*
* *
* * *
* * * *
* * * * *

In [42]:
n=5
for i in range(1,n+1):
    print(''*(n-i)+i*'* ')

    *
   * *
  * * *
 * * * *
* * * * *

In [52]:
 def print_star(n=5,typ='left'):
        if typ=='left':
         space=''
        elif typ=='right':
          space=' ' 
        elif typ=='mid':
         space='  '    
        for i in range(1,n+1):
                print(space*(n-i)+i*'* ')

In [53]:
print_star(6,'left')

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [62]:
 def print_star(n=5,typ='left',shape='*'): #default parmeters arguments
        if typ=='left':
         space=''
        elif typ=='right':
          space='  ' 
        elif typ=='mid':
         space=' '    
        for i in range(1,n+1):
                print(space*(n-i)+i*f'{shape} ')

In [63]:
print_star(7,'mid','&')

      &
     & &
    & & &
   & & & &
  & & & & &
 & & & & & &
& & & & & & &

In [64]:
def sum_of_natural_number(n):
    result =0
    for i in range (1,n+1):
        result +=i
    return result

In [65]:
sum_of_natural_number(7)

28

In [7]:
def factorial(n):
     result =1
     for i in range (1,n+1):
          result +=i
     return result

In [1]:
def total_sales(*args):   #unpacking
    result=0
    for i in args:
        result +=i
    return result

In [2]:
 total_sales(1,3,55,23,67)

149

In [6]:
def total_sales(*args):   #unpacking
    return args

sales=[434,23,555,231,543,223,76,88.945,832]
#min(sales)

In [34]:
sales=[434,23,555,231,543,223,76,88.945,832]
min_element=sales[0]
for i in sales[1:]:
     if i<min_element:
        min_element=i
        print(min_element)

23

In [44]:
sales=[434,23,555,231,543,223,76,88.945,832]
max_element=sales[-1]
for i in sales[::-1]:
     if i>max_element:
        max_element=i
print(max_element)

832

In [50]:
data=[23,56,3434,67,243,78,49]
def max(*data):
 max_ele=data[0]
 for i in data[1:]:
     if i>max_ele:
         max_ele=i
 return max_ele

In [51]:
max(23,56,3434,67,243,78,49)

3434

In [66]:
company1=['ola','uber','tata','indrive','adani','rapido']
#['#OLA','#UBER','#RAPIDO']
def add_hastag(*company):
    result =[]
    for i in company:
        result.append('#'+i.upper())
    return result

In [67]:
add_hastag(*company1)

['#OLA', '#UBER', '#TATA', '#INDRIVE', '#ADANI', '#RAPIDO']

In [68]:
add_hastag(*company)

['#OLA', '#UBER', '#TATA', '#INDRIVE', '#ADANI', '#RAPIDO']

In [88]:
def store_records(name,age,roll_no,Class):
    data={'Name':'name','Age':'age','Roll_No':'roll_no','Class':Class}
    import pandas as pd
    result=pd.DataFrame(data,index=[1])
    return result

In [89]:
store_records('Karan',17,'A',12)

   Name  Age  Roll_No  Class
1  name  age  roll_no     12

In [90]:
display(store_records('Karan',17,'A',12))
display(store_records('Rohan',17,'A',12))
display(store_records('Mohan',17,'A',12))

   Name  Age  Roll_No  Class
1  name  age  roll_no     12

   Name  Age  Roll_No  Class
1  name  age  roll_no     12

   Name  Age  Roll_No  Class
1  name  age  roll_no     12

In [6]:
def students_records(**kwargs):
    import pandas as pd
    result=pd.DataFrame(kwargs,index=[1])
    return result
data=students_records(Name='Aryan',Age=20,Roll_No=15,Class=12)
print(data)

    Name  Age  Roll_No  Class
1  Aryan   20       15     12

In [7]:
#pip install gTTs

In [14]:
#pip install pygame

Requirement already satisfied: pygame in c:\users\anjali\anaconda3\lib\site-packages (2.6.1)
Note: you may need to restart the kernel to use updated packages.

In [9]:
def sound_box(paisa,platform = 'Paytm'):
    from gtts import gTTS
    text  = (f'''{platform} par {paisa} rs Prapt hue.''')
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()
    p.mixer.init()
    p.mixer.Sound('paytm.mp3').play()

In [10]:
sound_box(100)