In [5]:
#exception handling
age='32'
try:
 if age>=18:
     print("you can vote")
 else:
     print("you can\'t vote") 
except TypeError:     #normal except can handle all error but naming the error will handle that particular error only
    print("Something went wrong!!")
    print("invalid datatype comparison!!")

except:
    print("invalid code ")

Something went wrong!!
invalid datatype comparison!!

In [8]:

def student_records(**kwargs) :        #kwargs-dictionary  #** for dict & * for tuple
 import pandas as pd
 try:
     data=pd.DataFrame(kwargs)
     return data
 except:
     data=pd.DataFrame(kwargs,index=[1])
     return data

In [13]:
student_records(Name = ['Komal','Mohan','Ajay'],
                 Age = [23,45,56],
                 Address = ['Noida','Delhi','Greater Noida'],
               Sec=list('ABC'))  #list will assign abc individually

    Name  Age        Address Sec
0  Komal   23          Noida   A
1  Mohan   45          Delhi   B
2   Ajay   56  Greater Noida   C

In [ ]:
def show_time():
    while True:
        import time
        print(time.asctime())
        time.sleep(1)
        display(clear=True)  #display funcn clrs the previous o/p

In [ ]:
 show_time()

In [5]:
def show_time():
 try:
    import time
    while True:
        print(time.asctime())
        time.sleep(1)
        display(clear=True)
 except:
    print('timer has been stopped!!')
show_time()

Fri Jul  4 11:50:51 2025
timer has been stopped!!

In [ ]:
import anjali as an
print('done')

In [8]:
an.print_star(n=7)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [9]:
an.factorial(4)

24

In [11]:
an.give_fibo(13)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [12]:
an.check_prime(23)

'Prime Number'

In [13]:
an.sound_box(56)

pygame 2.6.1 (SDL 2.28.4, Python 3.13.5)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [ ]:
#! exclamatory mark before smthing for running it directly on terminal

In [1]:
from anjali import minn
print('done')

This is my module in python
info: https://colab.research.google.com/
done

In [3]:
minn(3,45,2,65,4,77)

2

In [4]:
from anjali import *
print('done')

done

In [5]:
student_records(name='apu',roll_no=23,age=18)

  name  roll_no  age
1  apu       23   18

In [8]:
import turtle
print('done')

done

In [1]:
import turtle
for ii in range(4):
    turtle.circle(100)
    turtle.left(90)

In [21]:
import turtle
import random
for i in range(120):
        turtle.speed(0) 
        turtle.bgcolor('black')
        col=['blue','yellow','orange','purple']
   
       
        picked_color=random.choice(col)
        turtle.color(picked_color)
        turtle.circle(100)
        turtle.left(3)

TypeError: 'list' object is not callable

In [22]:
import turtle
for i in range(3):
   turtle.bgcolor('black')
   turtle.color('orange')
   turtle.forward(300)
   turtle.left(120)

TypeError: 'list' object is not callable

In [13]:
#text file
#.py,.html,.java,.css,.c,.c++, .json,.js
#binary file
#.pdf,.mp3,. mp4,.png, .exe, .zip,.tar, .xlsx, .ppt, .ipynb

In [14]:
#handling:- read,append,write,delete

In [15]:
#context manager

In [19]:
file=open('anjali.py',mode='r')
print(file.read(90))   # no data passed it reads whole content

print('''This is my module in python
info: https://colab.research.google.com/''')



def c

In [24]:
f=open('anjali.py',mode='r')
print(f.readline())
# no data passed it reads the 1st line only

print('''This is my module in python

In [26]:
f=open('anjali.py',mode='r')
print(f.readline(100))
file.close()

print('''This is my module in python

In [27]:
f=open('anjali.py',mode='r')
for i in range(10):
    print(f.readline())

print('''This is my module in python

info: https://colab.research.google.com/''')







def check_palindrome(word:str):

  if type(word) == str:

    word = word.upper()

    if word == word[::-1]:

      return 'Palindrome'

In [28]:
f=open('anjali.py',mode='r')
for i in range(10):
    if i==5:  #no.6
        print(f.readline())
    else:
        f.readline()

def check_palindrome(word:str):

In [29]:
f=open('anjali.py',mode='r')
data= f.readlines()
f.close() 
print('done')

done